@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie Entry";
}

@model AddMovieModel

<body>
    <div class="movieEntry">
        <h2>Add a Movie</h2>
        <form asp-action="AddMovie" method="post">
            <div>
                <label asp-for="category">Category:</label>
                <input id="category" asp-for="category" />
            </div>

            <br />
            <div>
                <label asp-for="title">Title:</label>
                <input id="title" asp-for="title" />
            </div>

            <br />
            <div>
                <label asp-for="year">Year:</label>
                <input id="year" asp-for="year" />
            </div>

            <br />
            <div>
                <label asp-for="director">Director:</label>
                <input id="director" asp-for="director" />
            </div>

            <br />
            <div>
                <label asp-for="rating">Rating:</label>
                <select name="rating" id="rating" asp-for="rating">
                    <option value="">Select One</option>
                    <option value="g">G</option>
                    <option value="pg">PG</option>
                    <option value="pg13">PG-13</option>
                    <option value="r">R</option>
                </select>
            </div>

            <br />
            <div>
                <label asp-for="edited">Edited:</label>
                <select name="edited" id="edited" asp-for="edited">
                    <option value="">Select One</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

            <br />
            <div>
                <label asp-for="lent">Lent To:</label>
                <input id="lent" asp-for="lent" />
            </div>

            <br />
            <div>
                <label asp-for="notes">Notes:</label>
                <input id="notes" asp-for="notes" />
                <br /><br />
            </div>

            <br />
            <input type="submit" value="Add Movie" id="addButton" />
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</body>