@{
    ViewBag.Title = "My Podcasts";
}

<body>
    <div>
        <h2>Check out my Podcasts</h2>
        <a class="btn btn-block btn-danger" href="https://baconsale.com/" target="_blank">Go to my Podcasts</a>
    </div>
</body>

